body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.dates {
    max-width: 100%;
}

input {
    border-radius: 0 !important;
    text-align: right;
    border: 1px solid #000;
}

.col-input {
    width: 10%;
    text-align: right;
}

.date-column {
    width: 20%;
}

label {
    border: 1px solid #000;
    padding: 0 10px;
    font-weight: 700;
    line-height: 28px;
}

label,
input,
select,
.date-column,
.userWeightInput--container {
    height: 32px;
}

/** Remove Numbers in input **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.userWeightInput {
    padding-left: 10px;
    padding-right: 10px;
}

.userWeightInput--container {
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    text-align: right;
    padding-top: 3px;
}
